apiVersion: v1
kind: Config
clusters:
- cluster:
    server: "{{ host_url }}"
  name: host
- cluster:
    server: https://console.pathfinder.gov.bc.ca:8443
  name: pathfinder
contexts:
- context:
    cluster: host
    namespace: default
    user: "{{ host_username }}"
  name: host
- context:
    cluster: pathfinder
    namespace: default
    user: "{{ pathfinder_username }}"
  name: pathfinder
users:
- name: "{{ host_username }}"
  user:
    token: "{{ host_token }}"
- name: "{{ pathfinder_username }}"
  user:
    token: "{{ pathfinder_token }}"
