{% set global = { 'hasVolumes': False } %} 
---
apiVersion: migration.openshift.io/v1alpha1
kind: MigPlan
metadata:
  name: {{ plan_name }}-plan
  namespace: openshift-migration 
  labels:
    app: {{ plan_name }}
spec:
  indirectVolumeMigration: true
  srcMigClusterRef:
    name: {{ src_cluster }}
    namespace: openshift-migration
  destMigClusterRef:
    name: {{ des_cluster }}
    namespace: openshift-migration
  migStorageRef:
    name: ocs
    namespace: openshift-migration
  namespaces:
{% for namespace in namespaces.resources %}
    - {{ namespace.metadata.name }}
{% endfor %}

{%- for result in volumes.results %}
{%- if result.resources is defined and result.resources|length %}
{%-   if global.update({'hasVolumes': True}) %}{%- endif %}
{%- endif %}
{%- endfor %}

{%- if global.hasVolumes %}
  persistentVolumes:
{% for result in volumes.results %}
{% set volumes = result.resources %}
{% for volume in volumes %}
    - name: {{ volume.metadata.name }}
      capacity: {{ volume.spec.resources.requests.storage }}
      pvc:
        name: {{ volume.metadata.name }}
        namespace: {{ volume.metadata.namespace }}
        accessModes:
{% for accessMode in volume.spec.accessModes %}
          - {{ accessMode }}
{% endfor %}
      selection:
        action: copy
        copyMethod: filesystem
        verify: false
{% if volume.spec.storageClassName is not defined or volume.spec.storageClassName == "" %}
        storageClass: netapp-file-standard
{% elif volume.spec.storageClassName == "nfs-backup" %}
        storageClass: netapp-file-backup
{% elif volume.spec.storageClassName == "gluster-block" %}
        storageClass: netapp-block-standard
{% elif volume.spec.storageClassName == "gluster-file" %}
        storageClass: netapp-file-standard
{% elif volume.spec.storageClassName == "gluster-file-db" %}
        storageClass: netapp-file-standard
{% else %}
        storageClass: {{ volume.spec.storageClassName }}
{% endif %}
      supported:
        actions:
        - skip
        - copy
        copyMethods:
        - filesystem
{% endfor %}
{% endfor %}
{% endif %}
