---
kind: NetworkSecurityPolicy
apiVersion: security.devops.gov.bc.ca/v1alpha1
metadata:
  namespace: "{{ ns_name }}"
  name: any-to-any
  labels:
    provisioned-by: mtc-playbook
spec:
  description: |
    allow all pods to communicate
  source:
    - - "$namespace={{ ns_name }}"
  destination:
    - - "$namespace=*"
---
kind: NetworkSecurityPolicy
apiVersion: security.devops.gov.bc.ca/v1alpha1
metadata:
  namespace: "{{ ns_name }}"
  name: any-to-external
spec:
  description: |
    Allow all pods to talk to external systems
  source:
    - - "$namespace={{ ns_name }}"
  destination:
    - - "ext:network=any"
